html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    width: clamp(200px, 50vw, 50vw);
    padding: 30px;
    margin: 30px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

input, button {
    outline: none;
    border: none;
    font-size: 1.25em;
}

input {
    border-bottom: 1px solid black;
    overflow-x: scroll;
}

button {
    padding: 5px 0;
}

form > input {
    width: 100%;
}

form > span {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

form > output {
    overflow-x: scroll;
}